# ===== ENVIRONNEMENT =====
.env
.env.*

# ===== SPRING BOOT =====
target/
*.jar
*.war
*.class
application-local.properties
application-local.yml

# ===== ANGULAR =====
node_modules/
dist/
.angular/

# ===== IDE =====
.idea/
*.iml
.vscode/
*.suo
*.user

# ===== OS =====
.DS_Store
Thumbs.db